@import 'tailwindcss';

/* Kaynak dosyaları - src klasöründen başlayarak */
@source "../index.html";
@source "./**/*.{ts,tsx,js,jsx}";

@theme {
  /* Spotify renkleri */
  --color-spotify-green: #1db954;
  --color-spotify-black: #191414;
  --color-spotify-white: #ffffff;
  --color-spotify-gray: #535353;
  --color-spotify-lightgray: #b3b3b3;
}

@layer components {
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
